# ignore these dirs.
#
week_2_css_basics/grid_sytem
05_more_layout/testing_positioning
week_04_advanced_layout/jumbotron_narrow
week_04_advanced_layout/bootstrap_testing
week_04_advanced_layout/shakespeares_plays
