<html>
<head>

<title>$meta{meta_title} | $meta{author} | $meta{genre} | Oyster Boy Review $meta{issue} | $meta{date}</title>

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<meta name="description" content="$meta{meta_description}">

<link rel=stylesheet type=text/css href="http://www.oysterboyreview.org/css/s.css">
<link rel=stylesheet type=text/css href="http://www.oysterboyreview.org/css/f.css">
<link rel=stylesheet type=text/css href="http://www.oysterboyreview.org/css/z.css">

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24131125-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
