$meta{left_nav}

<p>

&#187; <a href="/">Oyster Boy Review</a><br>
&#187; <a href="http://www.levee67.org/">Levee 67</a>

</font>

</td>
<td width=20><spacer type=block width=20></td></tr>
<tr>
<td colspan=3>&nbsp;</td></tr>
</table>

</td>
<td width=1 bgcolor=666666><spacer type=block width=1></td>
<td width=598 $meta{cover} bgcolor=ffffff valign=top>

<table width=598 cellpadding=0 cellspacing=0 border=0>
<tr>
<td colspan=3 height=1 bgcolor=666666><spacer type=block height=1></td></tr>
<tr>
<td colspan=3>&nbsp;</td></tr>
<tr>
<td colspan=3>&nbsp;</td></tr>
<tr>
<td width=20><spacer type=block width=20></td>
<td valign=top>

<font class=s12>

<b>$meta{genre}</b>

<p><br>

<font class=s12b>$meta{title}</font>

<p>

<i>$meta{subtitle}</i>

<p>

<a href="/issue/$meta{issue}/contributors.html#$meta{author}">$meta{author}</a>


<p><br>
